<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container card">
    <h2>Регистрация</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.first_name.label }} {{ form.first_name(class="form-control") }}</div>
        <div class="mb-3">{{ form.last_name.label }} {{ form.last_name(class="form-control") }}</div>
        <div class="mb-3">{{ form.username.label }} {{ form.username(class="form-control") }}</div>
        <div class="mb-3">{{ form.password.label }} {{ form.password(class="form-control") }}</div>
        <div class="mb-3">{{ form.role.label }} {{ form.role(class="form-select") }}</div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>
    <p style="text-align:center; margin-top: 10px;">
        Вече имаш акаунт?
        <a href="login.html" style="color:#F5C054; text-decoration: underline;">Влез тук</a>
    </p>
</div>
<script src="js/script.js"></script>
</body>
</html>
