{% extends "base.html" %}
{% block title %}Нулиране на парола{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>Нулиране на парола</h2>
  <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.password.label }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.confirm.label }}
      {{ form.confirm(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
  </form>
</div>
{% endblock %}
